<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>所属</td>
      <td>職員番号</td>
      <td>職</td>
      <td>氏名：<%= @user.name %></td>
      <td>単価125</td>
      <td>単価135</td>
      <td>単価150</td>
      <td>単価160</td>
      <td>休日単価</td>
      <td>夜間単価</td>
    </tr>
    
  </table>
</div>