/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}
/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}




/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    text-align: center;
  }
}

/* ユーザー詳細ページ */
#table-attendaces
  th {
    text-align: center;
  }

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

// 【残業申請のお知らせ】
.sp-link {
  color: red;
}